
nav {
    background-color: cornflowerblue;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-decoration: none;
}

nav li {
    display: inline;
    margin-right: 25px;
    text-decoration: none;
}

nav a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}

h1, h2 {
    text-align: center;
    color: cornflowerblue;
}

p, h5{
    text-align: center;
}

img{
    float: center;
    height: 400px;
    width: 400px;
}

.topheader{
    margin-bottom: 50px;
    margin-top: 25px;
}


.default{
    margin: auto;
    align-items: center;
    text-align: center;
    padding: 15px
}

.homebttn{
    align-self: center;
    text-align: center;
}

.form{
    width: 50%;
    margin: auto;
}

.showdivimg{
    width: 50%;
}

.showdivtex{
    width: 50%;
}

.wrapper{
    justify-content: space-between;
}
  